.wrapper{
  font-family: sans-serif;
  background-image: url("./static/mtn_bkgrnd.jpg");
  background-size:cover;
  text-align: center;
  height: 950px;
}

.wrapper h1{
  padding: 50px 25px
}

.body{
  background: rgba(255, 255, 255, .45);
  border: 1px solid silver;
  width: 50%;
  height: auto;
  margin: auto auto;
  padding: 25px 15px;
}
